
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--padding-md);
  gap: var(--padding-xl);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: var(--background-color);
  z-index: 999;
  /*border-bottom: 1px solid var(--main-color);*/
}

.headerLogo{
  height: 24px;
  width: auto;
}
