
header {
  height: var(--header-height);
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-md);
  gap: var(--padding-xl);
  position: fixed;
  z-index: 9999;
  border-bottom: 1px solid var(--main-color);
}

.moveHeader {
  height: var(--header-height);
  display: flex;
  gap: 1rem;
  align-items: center;
}

.moveHeader svg {
  height: calc(var(--header-height) - 16px);
  width: auto;
  display: block;
}

.moveHeader svg path {
  fill: currentColor;
  stroke-width: inherit;
  stroke: currentColor;
}

.header-h1 {
  font-family: var(--eg-font);
  font-weight: 400;
  font-size: var(--fontsize-md);
  text-decoration: none !important;
}
