@import "./globals.css";

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-sm) var(--spacing-md);

    position: fixed;
    width: 100vw;
    height: 52px;
    left: 0px;
    top: 0px;

    mix-blend-mode: difference;

}

.logo{
    height:24px;
    width:111px;
    filter: invert(1) brightness(1000%);
}