@import "./base.css";

.h2Eg {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: var(--main-color);
}

.topContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--margin-lg);
  margin-top: var(--margin-xxl);
  align-items: flex-end;
  margin-bottom: var(--margin-xxl);
}

.animatedBoxContainer {
  width: 96px;
  height: 32px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.animatedWord {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: var(--fontsize-xl);
}

.topNav {
  display: flex;
  gap: var(--margin-md);
  margin-top: var(--margin-md);
}

.topNav a {
  color: var(--main-color);
  text-decoration: none;
  font-family: var(--eg-font);
}

.aboutSection {
  width: 100%;
  padding: var(--padding-xl);
  border-top: 1px solid var(--main-color);
  margin-top: var(--margin-xxl);
  margin-bottom: var(--margin-xxl);
}

.workContainer{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 0px;
  gap: 32px;
  border-top: 1px solid #212121;
  margin-bottom: var(--margin-xxl);
}