
.topContainer {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--margin-sm);
  padding: var(--padding-xxl);
  border-bottom: 1px solid var(--main-color);
}

.animatedBoxContainer {
  width: 100%;
  height: var(--fontsize-lg);
  border: 1px solid var(--main-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.animatedWord {
  font-family: var(--eg-font);
  font-weight: 400;
  font-size: var(--fontsize-md);
  font-color: var(--main-color);
  text-decoration: none;
  background-color: transparent;
}

.topNav {
  display: flex;
  gap: var(--margin-md);
  margin-top: var(--margin-md);
}

.topNav a {
  color: var(--main-color);
  text-decoration: none;
  font-family: var(--eg-font);
}

.aboutSection {
  width: 100%;
  padding: var(--padding-xl);
  border-top: 1px solid var(--main-color);
  margin-top: var(--margin-xl);
}
