@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Zen Kaku Gothic New', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: var(--header-height);
  padding-right: var(--padding-lg);
  padding-left: var(--padding-lg);
  z-index: 0;
}

h1 {
  font-family: var(--main-font);
  color: var(--main-color);
}

header {
  width: 100%;
  height: var(--header-height);
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: left;
  gap: var(--margin-md);
  align-items: center;
  padding: var(--padding-sm);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-h1 {
  font-size: var(--fontsize-sm);
}

.hamburger-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: var(--padding-sm);
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.hamburger-line {
  width: 24px;
  height: 2px;
  background-color: var(--main-color);
  transition: all 0.3s ease;
}

.hamburger-button:hover .hamburger-line {
  background-color: var(--purple);
}

.menu-text {
  font-size: var(--fontsize-sm);
  margin-left: var(--margin-sm);
  color: var(--main-color);
}

.hamburger-button {
  display: flex;
  align-items: center;
}

.header-box {
  flex-grow: 1;
  height: var(--fontsize-sm);
  border: 1px solid var(--main-color);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 40px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.modal-content a {
  font-size: 24px;
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

.modal-content a:hover {
  color: #666;
}

@media screen and (min-width: 768px) {
  /* PC styles */
}

@media screen and (max-width: 767px) {
  /* Mobile styles */
}