@import "https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap";
/* [next]/internal/font/google/geist_27a51471.module.css [app-client] (css) */
@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/gyByhwUxId8gMEwSGFWNOITddY4-s.81df3a5b.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/gyByhwUxId8gMEwcGFWNOITd-s.p.da1ebef7.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Geist Fallback;
  src: local(Arial);
  ascent-override: 95.94%;
  descent-override: 28.16%;
  line-gap-override: 0.0%;
  size-adjust: 104.76%;
}

.geist_27a51471-module__xjItyW__className {
  font-family: Geist, Geist Fallback;
  font-style: normal;
}


/* [next]/internal/font/google/geist_mono_4522a57d.module.css [app-client] (css) */
@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/or3nQ6H_1_WfwkMZI_qYFrkdmhHkjkotbA-s.e32db976.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/or3nQ6H_1_WfwkMZI_qYFrcdmhHkjko-s.p.be19f591.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Geist Mono Fallback;
  src: local(Arial);
  ascent-override: 74.67%;
  descent-override: 21.92%;
  line-gap-override: 0.0%;
  size-adjust: 134.59%;
}

.geist_mono_4522a57d-module__DEIKWW__className {
  font-family: Geist Mono, Geist Mono Fallback;
  font-style: normal;
}


/* [project]/app/globals.css [app-client] (css) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
}

:root {
  --main-font: "Zen Kaku Gothic New", serif;
  --gray50: #f6f7f8;
  --gray100: #e8e8e8;
  --purple: #be84b8;
  --black: #212121;
  --white: #fff;
  --main-color: var(--black);
  --main-bg-color: var(--gray50);
  --margin-sm: 8px;
  --margin-md: 16px;
  --margin-lg: 24px;
  --margin-xl: 32px;
  --margin-xxl: 64px;
  --padding-sm: 4px;
  --padding-md: 8px;
  --padding-lg: 16px;
  --padding-xl: 24px;
  --padding-xxl: 32px --button-height: 44px;
  --header-height: 48px;
  --fontsize-sm: 12px;
  --fontsize-md: 16px;
  --fontsize-lg: 20px;
  --fontsize-xl: 24px;
  --borderradius-sm: 4px;
  --borderradius-md: 8px;
  --borderradius-lg: 12px;
}

body {
  height: 100vh;
  background-color: var(--gray50);
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-right: var(--padding-lg);
  padding-left: var(--padding-lg);
  z-index: 0;
  font-family: var(--main-font);
}

h1 {
  font-family: var(--main-font);
  color: var(--main-color);
}

button {
  min-height: 44px;
  min-width: 44px;
  border: none;
}

header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-sm);
}

.header-h1 {
  font-size: var(--fontsize-sm);
}

.header-box {
  flex-grow: 1;
  height: var(--fontsize-sm);
  border: 1px solid var(--main-color);
}

.modal-overlay {
  position: fixed;
  top: var(--header-height);
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  gap: var(--margin-md);
  align-items: center;
  z-index: 1000;
}

.projectListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--margin-md);
}

.tagButtonContainer {
  width: 100%;
  display: flex;
  justify-content: left;
  gap: var(--margin-md);
}

.tagButton {
  background-color: var(--white);
  padding: var(--padding-lg), var(--padding-sm);
}

.tagButtonSelected {
  background-color: var(--black);
  color: var(--white);
  padding: var(--padding-lg), var(--padding-sm);
}

.projectCard {
  width: 100%;
  padding: var(--padding-md);
  display: flex;
  flex-direction: column;
  gap: var(--margin-md);
  border-radius: var(--borderradius-md);
  background-color: var(--white);
}

.projectDetailContainer {
  display: flex;
  flex-direction: column;
  gap: var(--margin-md);
}

.projectDetailImage {
  max-height: 60px;
  max-width: 80px;
  position: relative;
}


/*# sourceMappingURL=%5Broot%20of%20the%20server%5D__e0a397._.css.map*/
