/* [project]/app/styles/home.css [app-client] (css, ) */
.h2Eg {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: var(--main-color);
}

.topContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--margin-lg);
  margin-top: var(--margin-xxl);
  align-items: flex-end;
  margin-bottom: var(--margin-xxl);
}

.animatedBoxContainer {
  width: 96px;
  height: 32px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.animatedWord {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: var(--fontsize-xl);
}

.topNav {
  display: flex;
  gap: var(--margin-md);
  margin-top: var(--margin-md);
}

.topNav a {
  color: var(--main-color);
  text-decoration: none;
  font-family: var(--eg-font);
}

.aboutSection {
  width: 100%;
  padding: var(--padding-xl);
  border-top: 1px solid var(--main-color);
  margin-top: var(--margin-xxl);
  margin-bottom: var(--margin-xxl);
}

.workContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 0;
  gap: 32px;
  border-top: 1px solid #212121;
  margin-bottom: var(--margin-xxl);
}

.workSliderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
  max-width: 900px;
}

.workSliderNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: var(--margin-sm);
}

.workSliderNav.left {
  order: 1;
}

.workCard {
  order: 2;
  flex-grow: 1;
}

.workSliderNav.right {
  order: 3;
}

.workSliderArrowButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.workSliderArrowButton Image {
  width: 24px;
  height: 24px;
}

.workCard {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-lg) var(--padding-lg) var(--padding-xl);
  gap: var(--margin-sm);
  background: var(--bg-color);
  border: 1px solid var(--main-color);
  box-shadow: 4px 4px 0px var(--main-color);
  border-radius: var(--borderradius-md);
  flex: none;
  order: 1;
  flex-grow: 1;
  z-index: 100;
  min-height: 300px;
}

.projectCardContents {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--margin-md);
  background-color: #0000;
}

.projectCardImage {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  overflow: hidden;
}

.projectCardImage img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.projectCardImagePlaceholder {
  width: 100%;
  height: 200px;
  background-color: var(--gray100);
  border-radius: var(--borderradius-sm);
}

.projectCardTitleArea {
  display: flex;
  flex-direction: column;
  gap: var(--margin-sm);
  background-color: #0000;
}

.projectCardTitle {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: var(--fontsize-lg);
  color: var(--main-color);
  background-color: #0000;
}

.projectCardDescription {
  font-family: var(--main-font);
  font-size: var(--fontsize-md);
  color: var(--main-color);
  background-color: #0000;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projectCardTagArea {
  display: flex;
  flex-wrap: wrap;
  gap: var(--margin-sm);
  background-color: #0000;
}

.projectCardTag {
  font-family: var(--eg-font);
  font-size: var(--fontsize-sm);
  color: var(--main-color);
  background-color: #0000;
}

.viewProjectsLink {
  font-family: var(--eg-font);
  font-weight: 600;
  color: var(--main-color);
  text-decoration: underline;
  margin-top: var(--margin-md);
}

/*# sourceMappingURL=app_styles_home_3ffd7f.css.map*/