/* [project]/app/globals.css [app-client] (css) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
}

:root {
  --main-font: "Noto Sans JP", sans-serif;
  --eg-font: "Lato", sans-serif;
  --gray50: #f6f7f8;
  --gray100: #e8e8e8;
  --purple: #be84b8;
  --black: #212121;
  --white: #fff;
  --main-color: var(--black);
  --main-bg-color: var(--gray50);
  --margin-sm: 8px;
  --margin-md: 16px;
  --margin-lg: 24px;
  --margin-xl: 32px;
  --margin-xxl: 64px;
  --padding-sm: 4px;
  --padding-md: 8px;
  --padding-lg: 16px;
  --padding-xl: 24px;
  --padding-xxl: 32px;
  --button-height: 44px;
  --header-height: 48px;
  --fontsize-sm: 12px;
  --fontsize-md: 16px;
  --fontsize-lg: 20px;
  --fontsize-xl: 24px;
  --borderradius-sm: 4px;
  --borderradius-md: 8px;
  --borderradius-lg: 12px;
  --borderradius-all: 999px;
}

body {
  height: 100vh;
  background-color: var(--gray50);
  display: flex;
  flex-direction: column;
  padding: 0;
  z-index: 0;
  font-family: var(--main-font);
}

a {
  all: unset;
  display: inline;
}

h1 {
  font-family: var(--main-font);
  color: var(--main-color);
}

button {
  min-height: 44px;
  min-width: 44px;
  border: none;
  font-family: var(--eg-font);
  font-weight: 700;
}

.mainContainer {
  padding-top: var(--header-height);
  padding-bottom: var(--padding-md);
  padding-left: var(--padding-md);
  padding-right: var(--padding-md);
  max-width: 800px;
  margin: 0 auto;
}

header {
  height: var(--header-height);
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-md);
  gap: var(--padding-xl);
  position: fixed;
  z-index: 9999;
  border-bottom: 1px solid var(--main-color);
}

.moveHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  gap: var(--margin-md);
}

.header-h1 {
  font-famils: var(--eg-font);
  font-weight: 400;
  font-size: var(--fontsize-md);
  text-decoration: none !important;
}

.header-box {
  width: 100%;
  height: var(--fontsize-sm);
  border: 1px solid var(--main-color);
}

.modal-overlay {
  position: fixed;
  top: var(--header-height);
  left: 0;
  height: calc(100vh - var(--header-height));
  width: 100vw;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  z-index: 9999;
  padding: var(--padding-xl);
}

.modal-nav {
  display: flex;
  flex-direction: column;
  gap: var(--margin-md);
  align-items: center;
  font-size: var(--fontsize-xl);
}

.modal-item {
  font-color: var(--main-color);
  font-size: var(--fontsize-md);
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 44px;
}

.projectListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--margin-md);
  width: 100%;
  padding-top: var(--padding-lg);
}

.tagButtonContainer {
  width: 100%;
  display: flex;
  justify-content: left;
  gap: var(--margin-md);
}

.tagButton {
  background-color: var(--white);
  padding: var(--padding-lg), var(--padding-sm);
}

.tagButtonSelected {
  background-color: var(--black);
  color: var(--white);
  padding: var(--padding-lg), var(--padding-sm);
}

.projectCard {
  width: 100%;
  padding: var(--padding-md);
  padding-bottom: var(--padding-lg);
  display: flex;
  gap: var(--margin-sm);
  border-radius: var(--borderradius-md);
  background-color: var(--white);
}

.projectCardContents {
  width: 100%;
  padding: var(--padding-md);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--margin-md);
  background-color: #0000;
}

.projectCardImage {
  width: 100%;
  height: 75%;
  overflow: hidden;
}

.projectCardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectCardImage img:hover {
  opacity: .3;
}

.projectCardImagePlaceholder {
  width: 100%;
  height: 200px;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray100);
}

.projectCardTItleArea {
  background-color: #0000;
  width: 100%;
  padding-left: var(--padding-md);
  padding-right: var(--padding-md);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: var(--margin-sm);
}

.projectCardTitle {
  font-size: var(--fontsize-lg);
  font-weight: bold;
  font-color: var(--main-color);
  text-decoration: none;
  background-color: #0000;
}

.projectCardTagArea {
  background-color: #0000;
}

.projectCardTag {
  background-color: #0000;
  color: var(--purple);
  border: 1px solid var(--purple);
  padding-top: var(--padding-sm);
  padding-bottom: var(--padding-sm);
  padding-left: var(--padding-md);
  padding-right: var(--padding-md);
  border-radius: var(--borderradius-all);
  margin-right: var(--margin-sm);
}

.projectDetailContainer {
  display: flex;
  flex-direction: column;
  gap: var(--margin-md);
  align-items: left;
}

.projectDetailImage {
  width: 100vw;
  left: calc(var(--margin-md) * -.5);
  height: 56.25%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.projectDetailImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.topContainer {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--margin-sm);
  padding: var(--padding-xxl);
  border-bottom: 1px solid var(--main-color);
}

.animatedBoxContainer {
  width: 100%;
  height: var(--fontsize-lg);
  border: 1px solid var(--main-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.animatedWord {
  font-family: var(--eg-font);
  font-weight: 400;
  font-size: var(--fontsize-md);
  font-color: var(--main-color);
  text-decoration: none;
  background-color: #0000;
}

.workContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: var(--margin-md);
  padding-top: 0;
  padding-bottom: var(--padding-md);
  padding-left: var(--padding-md);
  padding-right: var(--padding-md);
}

.topNav {
  display: flex;
  gap: var(--margin-md);
  margin-top: var(--margin-md);
}

.topNav a {
  color: var(--main-color);
  text-decoration: none;
  font-family: var(--eg-font);
}

.aboutSection {
  width: 100%;
  padding: var(--padding-xl);
  border-top: 1px solid var(--main-color);
  margin-top: var(--margin-xl);
}

.workContainer h2 {
  position: relative;
  top: calc(var(--fontsize-xl) * -.7);
  background-color: #0000;
}

.h2-eg {
  font-family: var(--eg-font);
  font-weight: 700;
  font-size: var(--fontsize-xl);
}

/*# sourceMappingURL=app_globals_b52d8e.css.map*/